<!DOCTYPE html>
<html>
  <head>
    <title>박재영♥김보희</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/libs/bootstrap/css/bootstrap.min.css' />
    
  </head>
  <body class="container" style="padding: 20px;padding-top: 0px;">

	<div class="center-block">
		<img class="img-responsive center-block logo" src="/images/logo.png" alt="결혼합니다"/>
		
		<div class="text-center desc">
			<p><b>박재영</b>군과 <b>김보희</b>양이 결혼합니다.<br/>
			본식 전 피로연 자리를 마련하고자 합니다.<br/>
			오셔서 기쁜 마음으로 축하해주세요.</p>
			<br/>
			<p ><b>2016년 4월 16일 토요일 오후 1시<br/>동탄 풀리 한정식</b><p>
			<a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=ZDA0bWkxdGZ2Nmo0ZWpoajNqMzFib241amMgcHVvaDVsNGMwZ2s1ZTRiazAwZjc5cTFqZTRAZw&amp;tmsrc=puoh5l4c0gk5e4bk00f79q1je4%40group.calendar.google.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_ko.gif"></a>
			
		</div>
		
		<div class="box text-center">
			<!-- 1. 약도 노드 -->
			<div id="daumRoughmapContainer1459863983819" class="root_daum_roughmap root_daum_roughmap_landing" style="margin: auto;" ></div>
		</div>

	</div>

	<!-- 2. 설치 스크립트 -->
	<script charset="UTF-8" class="daum_roughmap_loader_script" src="http://dmaps.daum.net/map_js_init/roughmapLoader.js"></script>

    <script src="/javascripts/jquery-2.2.2.min.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
	<!-- 3. 실행 스크립트 -->
	<script charset="UTF-8">
	
		function addTel() {
			var phone = $(".phone");
			console.log(phone);
			if (phone.length > 0) {
				phone.html("전화 : <a href=\"tel:"+$(".phone").html()+"\">"+$(".phone").html()+"</a>");
			} else {
				setTimeout(addTel, 300);
			}
		}
		
		var width = $( window ).width() *0.79;
		new daum.roughmap.Lander({
			"timestamp" : "1459863983819",
			"key" : "9tad",
			"mapWidth" : width,
			"mapHeight" : "200"
		}).render();
		
		setTimeout(addTel, 10);
		
	</script>
	
  </body>
</html>
