body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.box {
    min-height: 20px;
    padding-top:10px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 19px;
    margin-bottom: 20px;
}

.desc {
    line-height: 1.5;
}

.logo {
	padding-left:30px;
	padding-right:30px;
	padding-bottom:20px;
	padding-top:20px;
}